@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter";

  src: url("../fonts/Matter/Matter-Regular.woff2");
  src: url("../fonts/Matter/Matter-Regular.woff2") format("woff2");
}

body {
  background-color: #1f1600;
  font-family: "Matter";
}
.layout {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //
}

/*#########*/
/* Navbar */
/*#########*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //   height: 5rem;
  display: flex;
  align-items: center;
  z-index: 1000;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  // box-shadow: 0 5px 15px "#1f1600";
  z-index: 1000;
}

.nav-logo {
  width: 100px;
}

.nav-center {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: none;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 3rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear;
    padding: 0.5rem 0;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 8fr auto;
    align-items: center;
    margin: 0 auto;
  }

  .contact-link {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
  }
  .contact-link a {
    display: block;
  }
  .navbar .page-links a:hover {
    color: #38c580;
    box-shadow: 0px 3px #38c580;
  }
}

/*
  =============== 
  Sidebar
  ===============
  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  margin-left: 1.5rem;
  opacity: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0.1rem;
  // margin-bottom: 1rem;
  font-size: 2rem;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}
.sidebar-links li a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/*
  =============== 
  Sidebar Animation
  ===============
  */
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}

/*
  =============== 
  Social Links 
  ===============
  */

.social-links {
  margin-top: 4rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: white;
  transition: var(--transition);
}
.social-link:hover {
  color: white;
}

.side-contact-link {
  display: flex;
  justify-content: center;
}
.side-contact-link a {
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.contact-link {
  display: flex;
  justify-content: center;
}
.contact-link a {
  padding: 0.15rem 1rem;
}

.hero-wrapper {
  position: relative;
  animation: pulse 5s infinite;
  border-color: #fff;
}
@keyframes pulse {
  0% {
    border-color: #38c580;
  }
  60% {
    border-color: #f35386;
  }
}

.hero {
  display: flex;
  height: 80vh;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: flex;
    height: 85vh;
    align-items: center;
  }
}
.figma-card {
  background: #212428;
  box-shadow: inset 1px 1px 2px rgba(239, 239, 239, 0.3),
    inset -1px -1px 2px rgba(195, 195, 195, 0.5);
  border-radius: 15px;
}
.f {
  background-color: #212428;
}
.f1 {
  background-color: #4b3f49;
}

.contact-input {
  background-color: rgba(255, 255, 255, 0.2);
}

footer i {
  background-color: rgba(217, 217, 217, 0.29);
  cursor: pointer;
}
footer {
  background: #212428;
}

.t-card {
  position: relative;
  background: #212428;
  box-shadow: inset 1px 1px 2px rgba(239, 239, 239, 0.3),
    inset -1px -1px 2px rgba(195, 195, 195, 0.5);
  border-radius: 15px;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.t-card .tm {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: -20px;
  border: 1px solid #38c580;
  animation: pulse-tm 4s infinite;

  border-radius: 50%;
}

@keyframes pulse-tm {
  0% {
    border-color: #38c580;
  }
  60% {
    border-color: #f35386;
  }
}
